SliceOfPieClient/Service References/Service/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SliceOfPie" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SliceOfPie" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8722/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8722/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8722/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Project">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Folder">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="owner" nillable="true" type="tns:User" />
          <xs:element minOccurs="0" name="sharedWith" nillable="true" type="tns:ArrayOfUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="Folder">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="children" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element minOccurs="0" name="fileType" type="tns:DocType" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Folder" nillable="true" type="tns:Folder" />
  <xs:simpleType name="DocType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Document" />
      <xs:enumeration value="Folder" />
      <xs:enumeration value="Project" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DocType" nillable="true" type="tns:DocType" />
  <xs:complexType name="DocumentStruct">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="fileType" type="tns:DocType" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentStruct" nillable="true" type="tns:DocumentStruct" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="images" nillable="true" type="tns:ArrayOfPicture" />
      <xs:element minOccurs="0" name="log" nillable="true" type="tns:Document.DocumentLog" />
      <xs:element minOccurs="0" name="owner" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:complexType name="ArrayOfPicture">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Picture" nillable="true" type="tns:Picture" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPicture" nillable="true" type="tns:ArrayOfPicture" />
  <xs:complexType name="Picture">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="image" nillable="true" type="q2:Bitmap" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Picture" nillable="true" type="tns:Picture" />
  <xs:complexType name="Document.DocumentLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="entries" nillable="true" type="tns:ArrayOfDocument.DocumentLog.Entry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document.DocumentLog" nillable="true" type="tns:Document.DocumentLog" />
  <xs:complexType name="ArrayOfDocument.DocumentLog.Entry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Document.DocumentLog.Entry" nillable="true" type="tns:Document.DocumentLog.Entry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocument.DocumentLog.Entry" nillable="true" type="tns:ArrayOfDocument.DocumentLog.Entry" />
  <xs:complexType name="Document.DocumentLog.Entry">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="changeLog" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document.DocumentLog.Entry" nillable="true" type="tns:Document.DocumentLog.Entry" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
</xs:schema>