SliceOfPieClient/Service References/Service/SliceOfPieService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SliceOfPieService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISliceOfPieService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8722/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8722/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8722/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SliceOfPie" />
      <xsd:import schemaLocation="http://localhost:8722/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8722/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISliceOfPieService_StartSync_InputMessage">
    <wsdl:part name="parameters" element="tns:StartSync" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_StartSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartSyncResponse" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_SendDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SendDocument" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_SendDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_GetUpdatedDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdatedDocument" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_GetUpdatedDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdatedDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_StopSync_InputMessage">
    <wsdl:part name="parameters" element="tns:StopSync" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_StopSync_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopSyncResponse" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_DeleteDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocument" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_DeleteDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_GetAllProjectsOnServer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProjectsOnServer" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_GetAllProjectsOnServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProjectsOnServerResponse" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_OpenDocumentOnServer_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenDocumentOnServer" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_OpenDocumentOnServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenDocumentOnServerResponse" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_SaveProjectOnServer_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProjectOnServer" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_SaveProjectOnServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProjectOnServerResponse" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_SaveDocumentOnServer_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentOnServer" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_SaveDocumentOnServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentOnServerResponse" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_DeleteProject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProject" />
  </wsdl:message>
  <wsdl:message name="ISliceOfPieService_DeleteProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProjectResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ISliceOfPieService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartSync">
      <wsdl:input wsaw:Action="http://tempuri.org/ISliceOfPieService/StartSync" message="tns:ISliceOfPieService_StartSync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISliceOfPieService/StartSyncResponse" message="tns:ISliceOfPieService_StartSync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="SendDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ISliceOfPieService/SendDocument" message="tns:ISliceOfPieService_SendDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISliceOfPieService/SendDocumentResponse" message="tns:ISliceOfPieService_SendDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="GetUpdatedDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ISliceOfPieService/GetUpdatedDocument" message="tns:ISliceOfPieService_GetUpdatedDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISliceOfPieService/GetUpdatedDocumentResponse" message="tns:ISliceOfPieService_GetUpdatedDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="StopSync">
      <wsdl:input wsaw:Action="http://tempuri.org/ISliceOfPieService/StopSync" message="tns:ISliceOfPieService_StopSync_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISliceOfPieService/StopSyncResponse" message="tns:ISliceOfPieService_StopSync_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ISliceOfPieService/DeleteDocument" message="tns:ISliceOfPieService_DeleteDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISliceOfPieService/DeleteDocumentResponse" message="tns:ISliceOfPieService_DeleteDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllProjectsOnServer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISliceOfPieService/GetAllProjectsOnServer" message="tns:ISliceOfPieService_GetAllProjectsOnServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISliceOfPieService/GetAllProjectsOnServerResponse" message="tns:ISliceOfPieService_GetAllProjectsOnServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OpenDocumentOnServer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISliceOfPieService/OpenDocumentOnServer" message="tns:ISliceOfPieService_OpenDocumentOnServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISliceOfPieService/OpenDocumentOnServerResponse" message="tns:ISliceOfPieService_OpenDocumentOnServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SaveProjectOnServer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISliceOfPieService/SaveProjectOnServer" message="tns:ISliceOfPieService_SaveProjectOnServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISliceOfPieService/SaveProjectOnServerResponse" message="tns:ISliceOfPieService_SaveProjectOnServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SaveDocumentOnServer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISliceOfPieService/SaveDocumentOnServer" message="tns:ISliceOfPieService_SaveDocumentOnServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISliceOfPieService/SaveDocumentOnServerResponse" message="tns:ISliceOfPieService_SaveDocumentOnServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteProject">
      <wsdl:input wsaw:Action="http://tempuri.org/ISliceOfPieService/DeleteProject" message="tns:ISliceOfPieService_DeleteProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISliceOfPieService/DeleteProjectResponse" message="tns:ISliceOfPieService_DeleteProject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISliceOfPieService" type="tns:ISliceOfPieService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISliceOfPieService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="StartSync">
      <soap12:operation soapAction="http://tempuri.org/ISliceOfPieService/StartSync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDocument">
      <soap12:operation soapAction="http://tempuri.org/ISliceOfPieService/SendDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdatedDocument">
      <soap12:operation soapAction="http://tempuri.org/ISliceOfPieService/GetUpdatedDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopSync">
      <soap12:operation soapAction="http://tempuri.org/ISliceOfPieService/StopSync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <soap12:operation soapAction="http://tempuri.org/ISliceOfPieService/DeleteDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProjectsOnServer">
      <soap12:operation soapAction="http://tempuri.org/ISliceOfPieService/GetAllProjectsOnServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenDocumentOnServer">
      <soap12:operation soapAction="http://tempuri.org/ISliceOfPieService/OpenDocumentOnServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProjectOnServer">
      <soap12:operation soapAction="http://tempuri.org/ISliceOfPieService/SaveProjectOnServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDocumentOnServer">
      <soap12:operation soapAction="http://tempuri.org/ISliceOfPieService/SaveDocumentOnServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap12:operation soapAction="http://tempuri.org/ISliceOfPieService/DeleteProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SliceOfPieService">
    <wsdl:port name="NetTcpBinding_ISliceOfPieService" binding="tns:NetTcpBinding_ISliceOfPieService">
      <soap12:address location="net.tcp://localhost:8733/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>KASRA-LAPTOP\DE</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>