SliceOfPie/Service References/SliceOfPieServer/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8722/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SliceOfPie" />
  <xs:element name="SyncAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SliceOfPie" minOccurs="0" name="docs" nillable="true" type="q1:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SliceOfPie" minOccurs="0" name="SyncAllResult" nillable="true" type="q2:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>